@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: #f5f5f5;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}

/* Header Section */

header {
  padding: 24px 0;
}
.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  text-decoration: none;
  color: #0e0e0e;
}
.header_btn {
  text-decoration: none;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: rgb(0, 106, 80);
  display: inline-block;
  padding: 15px 30px;
}
.header_btn:hover {
  background: rgb(0, 106, 80);
  color: #fff;
  transition: 0.5s all;
}
/* Banner Section*/
.banner_sec {
  padding-top: 20px;
}
.banner_box {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 80px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.banner_content {
  width: 60%;
}
.banner_content h4 {
  color: rgba(14, 14, 14, 0.5);
  padding-bottom: 15px;
}
.banner_content h1 {
  padding-bottom: 20px;
}
.banner_img {
  width: 40%;
}
.banner_img img {
  max-width: 100%;
  width: auto;
}
.banner_btn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  display: inline-block;
  padding: 17px 35px;
}
/* Pillar Section */
.pillar_sec {
  padding-top: 80px;
}
.pillar_box_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.pillar_box {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 24px;
  margin-top: 30px;
  width: 24%;
}
.pillar_box img {
  max-width: 62px;
  margin-bottom: 25px;
}
.pillar_box h5 {
  color: rgba(14, 14, 14, 0.8);
  padding-bottom: 10px;
}
.pillar_box p {
  color: rgba(14, 14, 14, 0.7);
}
/* Vision Future Section */
.vision_future {
  padding-top: 80px;
}
.vision_future h2 {
  padding-bottom: 24px;
}
.vision_future p {
  color: rgba(14, 14, 14, 0.7);
}
.vision_future_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.vision_future_box {
  margin-top: 32px;
  padding: 24px;
  border-radius: 16px;
  width: 33%;
}
.vision_future_box img {
  max-width: 62px;
  width: auto;
  margin-bottom: 25px;
}
.vision_future_box h5 {
  color: rgba(14, 14, 14, 0.8);
  padding-bottom: 10px;
}
.vision_future_box p {
  color: rgba(14, 14, 14, 0.7);
  padding-bottom: 24px;
  min-height: 96px;
}
.vision_future_btn {
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding: 10px 20px;
  text-decoration: none;
  background: #006a50;
  transition: 0.5s all;
  border: 1px solid #006a50;
  display: inline-block;
}
.vision_future_btn:hover {
  background: #fff;
  color: #006a50;
}
#vision_future_box1 {
  background: rgba(84, 144, 245, 0.2);
}
#vision_future_box1 .vision_future_btn {
  background: #5490f5;
  border-color: #5490f5;
}
#vision_future_box1 .vision_future_btn:hover {
  background: #1c5dca;
  border-color: #1c5dca;
  color: #fff;
}
#vision_future_box2 {
  background: rgb(198, 228, 214);
}
#vision_future_box2 .vision_future_btn {
  background: #09a15c;
  border-color: #09a15c;
}
#vision_future_box2 .vision_future_btn:hover {
  background: #03683a;
  border-color: #03683a;
  color: #fff;
}
#vision_future_box3 {
  background: rgb(247, 235, 207);
}
#vision_future_box3 .vision_future_btn {
  background: #ffc239;
  border-color: #ffc239;
}
#vision_future_box3 .vision_future_btn:hover {
  background: #bf8300;
  border-color: #bf8300;
  color: #fff;
}
/* Testimonial Section */
.testimonial_sec {
  padding-top: 32px;
}
.testimonial_box {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: url("../images/quote-bg.png") no-repeat top 22px left 24px,
    rgb(255, 255, 255);
  padding: 48px 24px;
}
.testimonial_box p {
  color: rgba(14, 14, 14, 0.8);
}
.testimonial_box h5 {
  color: rgba(14, 14, 14, 0.8);
  padding: 12px 0 4px 0;
  font-weight: 600;
}
.testimonial_box p span {
  color: rgba(14, 14, 14, 0.6);
}
/* Opinion Section */
.opinion_sec {
  padding-top: 80px;
}
.opinion_sec h2 {
  padding-bottom: 24px;
}
.opinion_box {
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 32px;
}
.opinion_box table {
  width: 100%;
  border-collapse: collapse;
}
.opinion_box thead tr {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
}
.opinion_box thead th {
  padding: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.opinion_box table th,
.opinion_box table td {
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.opinion_box thead th:first-child {
  text-align: left;
  border-right: none;
}
.opinion_box thead th:last-child {
  text-align: right;
  border-left: none;
}
.opinion_box tbody td:first-child {
  width: 80%;
}
.opinion_box tbody td:last-child {
  text-align: center;
}
.opinion_box tbody td {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding: 24px;
}
.opinion_box tbody select {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  padding: 12px 55px 12px 14px;
  -webkit-appearance: none;
  background: url("../images/arw.png") no-repeat center right 20px,
    rgba(9, 161, 92, 0.15);
}
/* News Section */
.news_sec {
  padding-top: 80px;
}
.news_sec h2 {
  padding-bottom: 24px;
}
.news_sec p {
  color: rgba(14, 14, 14, 0.7);
}
.newsbox {
  border-radius: 24px;
  background: rgb(255, 255, 255);
  padding: 48px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
.news_img {
  border-radius: 24px;
  max-width: 100%;
  width: auto;
}
.newsbox_content h3 {
  color: rgba(14, 14, 14, 0.8);
  padding-bottom: 10px;
}
.newsbox_content img {
  max-width: 135px;
  width: auto;
  margin-bottom: 6px;
}
.newsbox_content p {
  padding-bottom: 10px;
}
.newsbox_content p em {
  font-style: normal;
  display: inline-block;
  padding-left: 10px;
}
.newsbox_content .vision_future_btn {
  margin-top: 20px;
  padding: 13px 26px 13px 26px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.newsbox_container .newsbox:nth-child(even) {
  flex-direction: row-reverse;
}
/* Donate Section */
.donate_sec {
  padding-top: 80px;
  text-align: center;
}
.donate_sec .container {
  max-width: 1100px;
}
.donate_sec h2 {
  padding-bottom: 24px;
}
.donate_sec p {
  color: rgba(14, 14, 14, 0.7);
}
.donate_money_container {
  display: flex;
  gap: 24px;
}
.donate_money_box {
  margin-top: 32px;
  width: 25%;
}
.donate_money_box input[type="radio"] {
  display: none;
}
.donate_money_box input[type="radio"] + label {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  padding: 35px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: inline-block;
  cursor: pointer;
  width: 100%;
  transition: 0.5s all;
}
.donate_money_box input[type="radio"]:checked + label,
.donate_money_box input[type="radio"] + label:hover {
  background: rgb(198, 228, 214);
}
.donate_money_txt {
  max-width: 1032px;
  margin: 30px auto 0;
}
.donate_money_txt input[type="text"] {
  background: rgb(255, 255, 255);
  display: block;
  padding: 20px 40px 20px 40px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  text-align: center;
}
.donate_money_txt input[type="text"]::placeholder {
  color: rgba(14, 14, 14, 0.3);
}
.donate_money_txt input[type="text"]:focus {
  box-shadow: none;
  outline: none;
}
.donate_money_txt input[type="submit"] {
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 15px 34px 15px 34px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 32px;
  outline: none;
  border: 1px solid rgb(0, 106, 80);
  cursor: pointer;
  transition: 0.5s all;
}
.donate_money_txt input[type="submit"]:hover {
  background: #fff;
  color: rgb(0, 106, 80);
}
